$green: linear-gradient(116.52deg, #31322b 24.27%, #363924 60.39%);
$ble: #1f1f1f;
@mixin fonth2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 121.99%;
  color: #373A24;
}
@mixin fonttext {
  font-size: 28px;
  line-height: 44px;
  opacity: 0.7;
  font-family: 'Poppins', sans-serif;
  width: 971px;
}
